<% layout('./layout/boilerplate') %> 

<div class="container">
    <div class="row mt-2">
        <div class="col-md-4 offset-md-4">
            <form action="/register" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
              <h4 class="mb-2 h2">Signup in One Go</h4>
              <div class="mb-1">
                <label for="username" class="form-label">Username</label>
                <input type="name" name="username" class="form-control" id="username" placeholder="noSpace" required>
                <div id="emailHelp" class="form-text">it's your login id</div>
              </div>
              <div class="mb-1">
                <label for="userPassword" class="form-label">Password</label>
                <input type="password" name="password" minlength="8" placeholder="Minimum 8 Characters" class="form-control" id="userPassword" required>
              </div>
              <div class="mb-1">
                <label for="name" class="form-label">Name</label>
                <input type="name" name="name" maxlength="30" class="form-control" id="password" required>
              </div>
                <div class="mb-1">
                  <label for="emailId" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="emailId" required>
                </div>
                <div class="mb-1">
                  <label for="profil" class="form-label">upload Profile Photo</label>
                  <input type="file" name="profile" class="form-control" id="profil" required>
                </div> 
                <button type="submit" class="btn btn-primary mt-2 mb-2">SignUp</button>
              </form>
        </div>
    </div>
</div>