<%- layout('layout/boilerplate') %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <div class="row">
        <div class="col-md-6 offset-md-3">

        <form action="/<%=fTitle._id%>/createCard" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>

            <h1 class="text-center mb-5">Create Nominee</h1>


            <div class='spinWrap'>
                <div class="spin"></div>
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label"></label>
                <input class="form-control form-control-md" name="image" placeholder="Hd pic please" id="formFileSm" type="file" required>
              </div>

            <div class="row mb-3">
                <label for="name" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" maxlength="20" name="name" placeholder="Name" class="form-control" id="name" required>
                </div>
            </div>

            <div class="row mb-3">
                <label for="about" class="col-sm-2 col-form-label">Caption</label>
                <div class="col-sm-10">
                   <!-- <textarea class="form-control" name="about" id="" cols="30" rows="5"></textarea> -->
                   <div id="test_box">
                    <textarea cols="50"  maxlength="36" class="form-control" placeholder="Give the best caption" name="about" rows="2" id="word_count" required></textarea>
                    <span id="display_count">0</span><span>/35</span>
                    <div id="warning"></div>
                  </div>
            <button class="btn btn-success mt-2 submit" type="submit">Create Post</button>

                </div>

            </div>

        </form>
    </div>

    <script>
          let spinnerWrapper = document.querySelector('.spinner-wrapper');
          const sub =document.querySelector('.submit')
          const spinner = document.querySelector('.spin')
          const wrap = document.querySelector('.spinWrap')
          const count = document.querySelector('#display_count')

sub.addEventListener('click', function () {
    // spinnerWrapper.style.display = 'none';
    // spinnerWrapper.parentElement.removeChild(spinnerWrapper);
    spinner.classList = "spinner";
    wrap.classList = "spinner-wrapper"
});

const textarea = document.querySelector("textarea");


    </script>

    <script src="/javascript/wordCounter.js"></script>